<!DOCTYPE hibernate-configuration PUBLIC
  "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
  "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.c3p0.timeout">1800</property>
    <property name="hibernate.c3p0.idle_test_period">3600</property>
    <property name="hibernate.c3p0.initialPoolSize">10</property>
    <property name="hibernate.c3p0.maxIdleTime">30</property>
    <property name="hibernate.c3p0.maxPoolSize">600</property>
    <property name="hibernate.c3p0.minPoolSize">10</property>
    <property name="hibernate.c3p0.maxStatements">50</property>

    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>
    <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
    <property name="hibernate.connection.username">postgres</property>
    <property name="hibernate.connection.password">admin</property>
    <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/postgres</property>
    <property name="hibernate.connection.autocommit">true</property>
    <property name="hbm2ddl.auto">update</property>
    <property name="hibernate.show_sql">false</property>

    <mapping class="br.com.unip.library.model.entity.Author"/>
    <mapping class="br.com.unip.library.model.entity.Book"/>
    <mapping class="br.com.unip.library.model.entity.BookAuthor"/>
    <mapping class="br.com.unip.library.model.entity.Publisher"/>
  </session-factory>
</hibernate-configuration>