<configuration>

  <property name="HOME_LOG" value="./logs/app.log"/>

  <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${HOME_LOG}</file>

    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>./logs/archived/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <!-- each archived file, size max 10MB -->
      <maxFileSize>10MB</maxFileSize>
      <!-- total size of all archive files, if total size > 20GB, it will delete old archived file -->
      <totalSizeCap>20GB</totalSizeCap>
      <!-- 60 days to keep -->
      <maxHistory>60</maxHistory>
    </rollingPolicy>

    <encoder>
      <pattern>%d %p %c{1.} [%t] %m%n</pattern>
    </encoder>
  </appender>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{ISO8601} %magenta([%thread]) %highlight(%-5level) %logger{36} - %boldWhite(%msg%n)</pattern>
    </encoder>
  </appender>

  <logger name="com.mchange.v2.c3p0">
    <level value="OFF"/>
  </logger>

  <root level="info">
    <appender-ref ref="STDOUT" />
  </root>

  <root level="info">
    <appender-ref ref="FILE-ROLLING"/>
  </root>
</configuration>